ClienteAdministrativo/src/conf/xml-resources/web-service-references/ClienteService/wsdl/172.20.156.161_8080/Seriplast/ClienteService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="ClienteService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://172.20.156.161:8080/Seriplast/ClienteService?xsd=1"/>
</xsd:schema>
</types>
<message name="SelectOneCategoria">
<part name="parameters" element="tns:SelectOneCategoria"/>
</message>
<message name="SelectOneCategoriaResponse">
<part name="parameters" element="tns:SelectOneCategoriaResponse"/>
</message>
<message name="DeleteCategoria">
<part name="parameters" element="tns:DeleteCategoria"/>
</message>
<message name="DeleteCategoriaResponse">
<part name="parameters" element="tns:DeleteCategoriaResponse"/>
</message>
<message name="InsertCategoria">
<part name="parameters" element="tns:InsertCategoria"/>
</message>
<message name="InsertCategoriaResponse">
<part name="parameters" element="tns:InsertCategoriaResponse"/>
</message>
<message name="SelectAllCategoria">
<part name="parameters" element="tns:SelectAllCategoria"/>
</message>
<message name="SelectAllCategoriaResponse">
<part name="parameters" element="tns:SelectAllCategoriaResponse"/>
</message>
<message name="UpdateCategoria">
<part name="parameters" element="tns:UpdateCategoria"/>
</message>
<message name="UpdateCategoriaResponse">
<part name="parameters" element="tns:UpdateCategoriaResponse"/>
</message>
<message name="SelectOneProduto">
<part name="parameters" element="tns:SelectOneProduto"/>
</message>
<message name="SelectOneProdutoResponse">
<part name="parameters" element="tns:SelectOneProdutoResponse"/>
</message>
<message name="SelectAllProduto">
<part name="parameters" element="tns:SelectAllProduto"/>
</message>
<message name="SelectAllProdutoResponse">
<part name="parameters" element="tns:SelectAllProdutoResponse"/>
</message>
<message name="DeleteProduto">
<part name="parameters" element="tns:DeleteProduto"/>
</message>
<message name="DeleteProdutoResponse">
<part name="parameters" element="tns:DeleteProdutoResponse"/>
</message>
<message name="UpdateProduto">
<part name="parameters" element="tns:UpdateProduto"/>
</message>
<message name="UpdateProdutoResponse">
<part name="parameters" element="tns:UpdateProdutoResponse"/>
</message>
<message name="InsertProduto">
<part name="parameters" element="tns:InsertProduto"/>
</message>
<message name="InsertProdutoResponse">
<part name="parameters" element="tns:InsertProdutoResponse"/>
</message>
<portType name="ClienteServiceImpl">
<operation name="SelectOneCategoria">
<input wsam:Action="http://service/ClienteServiceImpl/SelectOneCategoriaRequest" message="tns:SelectOneCategoria"/>
<output wsam:Action="http://service/ClienteServiceImpl/SelectOneCategoriaResponse" message="tns:SelectOneCategoriaResponse"/>
</operation>
<operation name="DeleteCategoria">
<input wsam:Action="http://service/ClienteServiceImpl/DeleteCategoriaRequest" message="tns:DeleteCategoria"/>
<output wsam:Action="http://service/ClienteServiceImpl/DeleteCategoriaResponse" message="tns:DeleteCategoriaResponse"/>
</operation>
<operation name="InsertCategoria">
<input wsam:Action="http://service/ClienteServiceImpl/InsertCategoriaRequest" message="tns:InsertCategoria"/>
<output wsam:Action="http://service/ClienteServiceImpl/InsertCategoriaResponse" message="tns:InsertCategoriaResponse"/>
</operation>
<operation name="SelectAllCategoria">
<input wsam:Action="http://service/ClienteServiceImpl/SelectAllCategoriaRequest" message="tns:SelectAllCategoria"/>
<output wsam:Action="http://service/ClienteServiceImpl/SelectAllCategoriaResponse" message="tns:SelectAllCategoriaResponse"/>
</operation>
<operation name="UpdateCategoria">
<input wsam:Action="http://service/ClienteServiceImpl/UpdateCategoriaRequest" message="tns:UpdateCategoria"/>
<output wsam:Action="http://service/ClienteServiceImpl/UpdateCategoriaResponse" message="tns:UpdateCategoriaResponse"/>
</operation>
<operation name="SelectOneProduto">
<input wsam:Action="http://service/ClienteServiceImpl/SelectOneProdutoRequest" message="tns:SelectOneProduto"/>
<output wsam:Action="http://service/ClienteServiceImpl/SelectOneProdutoResponse" message="tns:SelectOneProdutoResponse"/>
</operation>
<operation name="SelectAllProduto">
<input wsam:Action="http://service/ClienteServiceImpl/SelectAllProdutoRequest" message="tns:SelectAllProduto"/>
<output wsam:Action="http://service/ClienteServiceImpl/SelectAllProdutoResponse" message="tns:SelectAllProdutoResponse"/>
</operation>
<operation name="DeleteProduto">
<input wsam:Action="http://service/ClienteServiceImpl/DeleteProdutoRequest" message="tns:DeleteProduto"/>
<output wsam:Action="http://service/ClienteServiceImpl/DeleteProdutoResponse" message="tns:DeleteProdutoResponse"/>
</operation>
<operation name="UpdateProduto">
<input wsam:Action="http://service/ClienteServiceImpl/UpdateProdutoRequest" message="tns:UpdateProduto"/>
<output wsam:Action="http://service/ClienteServiceImpl/UpdateProdutoResponse" message="tns:UpdateProdutoResponse"/>
</operation>
<operation name="InsertProduto">
<input wsam:Action="http://service/ClienteServiceImpl/InsertProdutoRequest" message="tns:InsertProduto"/>
<output wsam:Action="http://service/ClienteServiceImpl/InsertProdutoResponse" message="tns:InsertProdutoResponse"/>
</operation>
</portType>
<binding name="ClienteServiceImplPortBinding" type="tns:ClienteServiceImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="SelectOneCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SelectAllCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SelectOneProduto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SelectAllProduto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteProduto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateProduto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertProduto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ClienteService">
<port name="ClienteServiceImplPort" binding="tns:ClienteServiceImplPortBinding">
<soap:address location="http://172.20.156.161:8080/Seriplast/ClienteService"/>
</port>
</service>
</definitions>